<nav class="nav-extended">
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="navLink" routerLink="/">Home</a></li>
        <li class="tab"><a class="navLink" routerLink="/sales">Sales</a></li>
        <li class="tab"><a class="navLink" routerLink="/vehicles">Vehicles</a></li>
        <li class="tab"><a class="navLink" routerLink="/electronics">Electronics</a></li>
        <li class="tab"><a class="navLink" routerLink="/appliances">Appliances</a></li>
        <li class="tab"><a class="navLink" routerLink="/homeItems">Home Items</a></li>
        <div *ngIf="LoggedOut">
            <li class="tab">
              <a class="navLinkLog" (click)="login()">Login</a>
            </li>
          </div>
          <div *ngIf="LoggedIn">
              <li class="tab logout">
                  <a id="logout" (click)="logout()">Logout</a>
              </li>
              <li class="tab"> <a id="admin" routerLink="/admin">Admin</a>
              </li>
              </div>
      </ul>
    </div>
  </nav>