<div class="card" *ngIf="filtered">
  <div class="card-body">
    <br>
    <ul>
      <li id="saleList" *ngFor="let currentSale of sales">
        <h1>{{currentSale.title}}</h1>
        <p>{{currentSale.description}}</p>
        <p>{{currentSale.price}}</p>
        <p>{{currentSale.category}}</p>

      </li>
    </ul>
  </div>
</div>
<button class="btn btn-dark" (click)="addNewSale()">Add New Sale</button>

<div *ngIf="addingSale">
  <div class="card">
    <div class="card-title">
      <h1>Add New Sale</h1>
    </div>
    <div class="card-body">
      <div>
        <label>Sale Title</label>
        <br>
        <input #newTitle>
      </div>

      <div>
        <label>Sale Description</label>
        <br>
        <input #newDescription>
      </div>

      <div>
        <label>Sale Price</label>
        <br>
        <input #newPrice>
      </div>

      <div>
        <label>Sale Category</label>
        <br>
        <select #newCategory>
          <option value="Electronics">Electronics</option>
          <option value="Vehicles">Vehicles</option>
          <option value="Home Items">Home Items</option>
        </select>


      </div>

      <button class="btn btn-dark" (click)="submitForm(newTitle.value, newDescription.value, newPrice.value, newCategory.value)">Done</button>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-title">
    <h2>Filter Sales</h2>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label>Select Category</label>
      <select class="form-control" [(ngModel)]="category">
        <option value="Electronics">Electronics</option>
        <option value="Vehicles">Vehicles</option>
        <option value="Home Items">Home Items</option>
      </select>
    </div>
    <button (click)="filterSales(category)">Filter</button>

  </div>
</div>
<div *ngIf="salesFilter">
  <ul>
    <li id="saleList" *ngFor="let sale of filteredSales">
    {{sale.title}}
    <br>
    {{sale.description}}
    <br>
    ${{sale.price}}
    <form>
      <label>Subject</label>
      <input>
      <label>Message</label>
      <input>
      <button>Email Seller</button>
    </form></li>
  </ul>

</div>
