<div *ngIf="normal">
    <div  *ngFor="let currentSale of sales | async"  class="card">
            <ul>
                <li>
                    <h2 class="title"[routerLink]="['/details', currentSale.$key]">{{currentSale.title}}</h2>
                </li>
            </ul>
        </div>
    </div>

<button class="btn btn-dark" (click)="addNewSale()">Add New Sale</button>

<div *ngIf="addingSale">
    <div class="card">
        <div class="card-title">
            <h1>Add New Sale</h1>
        </div>
        <div class="card-body">
            <div>
                <label>Sale Title:</label>
                <br>
                <input type="text" #newTitle required>
            </div>
            <div>
                <label>Description:</label>
                <br>
                <textarea #newDescription>
                  </textarea>
            </div>
            <div>
                <label>Price:</label>
                <br>
                <input type="number" #newPrice>
            </div>
            <div>
                <label>Category:</label>
                <br>
                <select #newCategory>
                  <option value="Electronics">Electronics</option>
                  <option value="Vehicles">Vehicles</option>
                  <option value="Home Items">Home Items</option>
                  <option value="Appliances">Appliances</option>
                  <option value="Jewelry">Jewelry</option>
                  <option value="Cell Phones">Cell Phones</option>
                </select>
            </div>
            <br>
            <button class="btn btn-dark" (click)="submitForm(newTitle.value, newDescription.value, newPrice.value, newCategory.value);">Add</button>
        </div>
    </div>
</div>
           <ul>
                <li id="saleList" *ngFor="let sale of filteredSales">
                    <h2 [routerLink]="['/details', sale.$key]" class="title">{{sale.title}}</h2>
                  </li>
            </ul>
