<h1 class="title z-depth-1">ChrisList</h1>
<h3 class="title z-depth-1">Most Recent Sales</h3>


<div  *ngFor="let sale of sales; let i = index;"  class="row z-depth-3">
        <div *ngIf="i<2" class=""col s12 m6>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text" >
                        <div [routerLink]="['/details', sale.$key]" *ngIf="i<3"><h1>{{sale.category}}: {{sale.title}}</h1></div>
                    </div>
                </div>
            </div>
        </div>
        
            
