body {
  background-color: grey!important;
}
.card {
  text-align: center;
  margin: 10px 10px;
  padding: 10px 10px;
}

ul, li {
  list-style: none;
  text-align: center;
  
}

.card, .card-body, .card-title {
    background-color: rgba(255, 255, 255, 0.488)!important;
}
