<div *ngIf="addingSale">
  <div class="card">
    <div class="card-title">
      <h1>Add New Sale</h1>
    </div>
    <div class="card-body">
      <div>
        <label>Sale Title</label>
        <br>
        <input #newTitle>
      </div>

      <div>
        <label>Sale Description</label>
        <br>
        <input #newDescription>
      </div>

      <div>
        <label>Sale Price</label>
        <br>
        <input #newPrice>
      </div>

      <div>
        <label>Sale Category</label>
        <br>
        <select #newCategory>
          <option value="Electronics">Electronics</option>
          <option value="Vehicles">Vehicles</option>
          <option value="Home Items">Home Items</option>
        </select>


      </div>

      <button class="btn btn-dark" (click)="submitForm(newTitle.value, newDescription.value, newPrice.value, newCategory.value)">Done</button>
    </div>
  </div>
</div>
